body{
  background-color: #5f0089;
}
.clock{
  position: relative;
  top: 34px;
  left: 124px;
  width: 204px;
  height: 77px;
}
.box1{
  position: absolute;
  top: 55px;
  left: 785px;
  height: 130px;
  width: 380px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #8E53F0;
  z-index: -1;
  opacity: 0.22;
}
.box2{
  width: 416px;
  height: 130px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 768px;
  z-index: 0;
  opacity: 0.71;
}
.container1{
  width: 536px;
  height: 130px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  top: 34px;
  left: 716px;
  z-index: 1;
}
.time{
  font-family: sans-serif;
  font-size: 20px;
  color: #3D087B;
  position: absolute;
  top: 50px;
  left: 30px;
}
.hr{
  background-image: url(./timeline.svg);
  width: 80px;
  height: 90px;
  border: 1px solid #F6E2FF;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  left: 100px;
  box-sizing: border-box;
  color: #8A11BF;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}
.col1{
  color: #3D087B;
  font-size: 45px;
  position: absolute;
  top: 30px;
  left: 185px;
}
.min{
  background-image: url(./timeline.svg);
  width: 80px;
  height: 90px;
  border: 1px solid #F6E2FF;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  left: 200px;
  box-sizing: border-box;
  color: #8A11BF;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}
.col2{
  color: #3D087B;
  font-size: 45px;
  position: absolute;
  top: 30px;
  left: 285px;
}
.sec{
  background-image: url(./timeline.svg);
  width: 80px;
  height: 90px;
  border: 1px solid #F6E2FF;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  left: 300px;
  box-sizing: border-box;
  color: #8A11BF;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}
.am{
  background-image: url('images/Am.svg');
  width: 80px;
  height: 90px;
  border: 1px solid #F6E2FF;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  left: 400px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 28px;
}
.box3{
  box-sizing: border-box;
  background-color:#FFFFFF;
  width: 536px;
  height: 118px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  position: absolute;
  top: 212px;
  left: 716px;
  
}
.txt1{
  color: #8E53F0;
  font-size: 25px;
  position: absolute;
  top: 42px;
  left: 45px;
}
.box4{
  background-image: url('images/component.svg');
  width: 536px;
  height: 341px;
  position: absolute;
  top: 345px;
  left: 716px;
}
.container2{
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  box-sizing: border-box;
  width: 566px;
  height: 363px;
  position: relative;
  top: 49px;
  left: 124px;
}
.wake{
  position: absolute;
  top: 15px;
  left: 20px;
}
.set1{
  font-family: sans-serif;
  font-size: 20px;
  color: #3D087B;
  position: absolute;
  top: 20px;
  left: 100px;
}
#morning{
  color: #3D087B;
  font-size: 16px;
  width: 281px;
  height: 45px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 270px;
}
.hr1{
  height: 40px;
  width: 0px;
  position: absolute;
  top: 45px;
  left: 38px;
}
.lunch{
  position: absolute;
  top: 100px;
  left: 20px; 
}
.set2{
  font-family: sans-serif;
  font-size: 20px;
  color: #3D087B;
  position: absolute;
  top: 110px;
  left: 100px;
}
#afternoon{
  color: #3D087B;
  font-size: 16px;
  width: 281px;
  height: 45px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 270px;
}
.hr2{
  height: 40px;
  width: 0px;
  position: absolute;
  top:135px; 
  left:38px; 
}
.nap{
  position: absolute;
  top: 195px;
  left: 20px;
}
.set3{
  font-family: sans-serif;
  font-size: 20px;
  color: #3D087B;
  position: absolute;
  top: 200px;
  left: 100px;
}
#evening{
  color: #3D087B;
  font-size: 16px;
  width: 281px;
  height: 45px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  position: absolute;
  top: 190px;
  left: 270px;
}
.hr3{
  height: 40px;
  width: 0px;
  position: absolute;
  top: 230px;
  left: 38px;
}
.sleep{
  font-size: 30px;
  color: #3D087B;
  position: absolute;
  top: 295px;
  left: 25px;
}
.set4{
  font-family: sans-serif;
  font-size: 20px;
  color: #3D087B;
  position: absolute;
  top: 300px;
  left: 100px;
}
#night{
  color: #3D087B;
  font-size: 16px;
  width: 281px;
  height: 45px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  position: absolute;
  top: 290px;
  left: 270px;
}
.box5{
  background-color:#56189cde;
  width: 566px;
  height: 77px;
  border-radius: 10px;
  position: relative;
  top: 69px;
  left: 124px;
}
.txt2{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 20px;
}
button{
  border:1px solid #3D087B;
  background-image: linear-gradient(
      to right,
      #6E54EC,
      #CB52F8,
      #FC5EFF,
      #F1A7C5
  );
  width: 299px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  left: 124px;
  top: 90px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
.txt3a{
  display: none;
}
button:hover .txt3{
  display:none;
}
button:hover .txt3a{
  display: contents;
}
button:hover{
  background-image: linear-gradient(
      to left,
      #6E54EC,
      #CB52F8,
      #FC5EFF,
      #F1A7C5
  );
}
.box6{
  background-color:#56189cde;
  width: 253px;
  height: 117px;
  border-radius: 10px;
  position: relative;
  top: 40px;
  left: 435px;
  box-sizing: border-box;
  padding: 10px 20px;
}
.txt4{
  color: #F25CFE;
  line-height: 25px;
}
@media all and (max-width:500px){
  .clock{
      position: absolute;
      left: 20px;
  }
  .box1{
      position: absolute;
      left: 68px;
      top: 165px;
  }
  .box2{
      position: absolute;
      left: 50px;
      top: 155px;
  }
  .container1{
      position: absolute;
      left: 20px;
      top: 150px;
      width: 480px;
  }
  .hr{
      position: absolute;
      left: 35px;
  }
  .col1{
      position: absolute;
      left: 125px;
  }
  .min{
      position: absolute;
      left: 150px;
  }
  .col2{
      position: absolute;
      left: 240px;
  }
  .sec{
      position: absolute;
      left: 265px;
  }
  .am{
      position: absolute;
      left: 375px;
  }
  .time{
      display: none;
  }
  .container2{
      position: absolute;
      left: 20px;
      top: 320px;
      width: 480px;
  }
  #morning{
      width: 190px;
  }
  #afternoon{
      width: 190px;
  }
  #evening{
      width: 190px;
  }
  #night{
      width: 190px;
  }
  .box5{
      position: absolute;
      top: 700px;
      left: 20px;
      width: 480px;
  }
  button{
      position: absolute;
      top: 800px;
      left: 20px;
  }
  .box6{
      position: absolute;
      top: 870px;
      left: 20px;
  }
  .box3{
      width: 480px;
      position: absolute;
      left: 20px;
      top: 1010px ;
  }
  .txt1{
      font-size: 25px;
      position: absolute;
      left: 10px;
  }
  .box4{
      width: 480px;
      position: absolute;
      top:1150px;
      left: 20px;
  }
}